.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .938rem 1.875rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-default {
  color: $light-cream;
  background-color: $dark-cyan;
  text-decoration: none;
  margin-top: 1.5rem;
}

.btn-default:hover {
  background-color: $cyan;
}

.btn-main {
  color: $light-cream;
  background-color: $cyan;
  text-decoration: none;
  margin-top: 1.5rem;
}