.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;

  &__inner {
    position: relative;
    max-width: 32rem;
    max-height: 80vh;
    border-radius: .5rem;
    background: $light-cream;
    overflow: auto;
    cursor: default;

  }

  &__header {
    z-index: 2;
    color: $light-cream;
    margin: 0;
    background-color: $dark-grey-blue;
    padding: 2rem;
    min-height: 0;

    h3 {
      margin: 0;
    }
  }

  &__body {
    color: $grey;
    padding: 0 2rem 2rem 2rem;

    h4 {
      margin-bottom: 0;
    }
  }

  &__footer {
    text-align: center;

    &--mobile-footer {
      @media (min-width: $md-breakpoint) {
        display: none;
      }
    }
  
    &--large-footer {
      display: none;
  
      @media (min-width: $md-breakpoint) {
        display: flex;
        justify-content: center;
      }
    }
  }

}

.is-visible {
  visibility: visible;
  opacity: 1;
}