.options {
  display: grid;
  gap: 1rem;
  
  &__option {
    background-color: $dark-cream;
    color: $dark-grey-blue;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;

    h4 {
      margin: 0;
    }
  
    p {
      margin-bottom: 0;
    }
  }


}