.banner {
  background: url("../../assets/home/mobile/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 6.25rem;

  &__inner {
    text-align: center;
    padding: 6.25rem 1.5rem;
    color: $light-cream;

    p {
      opacity: .8;
    }

    .btn {
      margin-top: 1.5rem;
      text-decoration: none;
    }
  }


}

@media (min-width: 28.125rem) {

}
