.footer {
  margin-top: 8rem;
  background-color: $dark-grey-blue;
  color: $light-cream;
  padding: 3rem;
  text-align: center;

  &__logo {
    margin: 0 auto;
    margin-bottom: 3rem;
    
    a {
      display: block;
    }
  }

  &__list {
    @media (min-width: $md-breakpoint) {
      display: flex;
      justify-content: center;
    }
  }

  &__link {
    text-decoration: none;
    color: $grey;
    padding: 1rem;
    display: block;
    font-weight: 700;
  }

  &__social {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      padding: 1.25rem;
    }

    a:hover > img {
      color: $pale-orange !important;
    }
  }

  #instagram {
    background-image: url("../../assets/shared/desktop/icon-instagram.svg");
    background-size: cover;

    &:hover {
      filter: invert(93%) sepia(5%) saturate(3428%) hue-rotate(310deg) brightness(102%) contrast(105%);
    }
  }
}