.locations {
  margin-top: 10rem;
  text-align: center;

  @media (min-width: $md-breakpoint) {
    text-align: left;
    padding: 0 2rem 0 2rem;
  }

  h4 {
    color: $grey;
  }

  &__all-locations {
    display: grid;
    gap: 2rem;

    @media (min-width: $md-breakpoint) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__location {
    margin-top: 6rem;

    address {
      font-style: normal;
      color: $dark-grey-blue;
    }

    h3 {
      color: $dark-grey-blue;
    }
  }
}
