.nav {
  display: flex;
  align-items: center;
  height: 3rem;

  &__logo {
    flex: 1;

    a {
      padding: 1rem;
      display: block;
    }

    a > img {
      max-width: 12rem;
    }

    @media (min-width: 28.125rem) {
      a > img {
        max-width: 100%;
      }
    }
  }

  &__menu {
    display: none;

    @media (min-width: $md-breakpoint) {
      display: flex;
      flex: 2;
    }
  }

  &__mobile-menu {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    min-height: 20rem;
    height: 100vh;
    background: rgb(254,252,247);
    background: linear-gradient(0deg, rgba(254,252,247,0.5) 0%, rgba(254,252,247,1) 55%);

    @media (min-width: $md-breakpoint) {
      display: none;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    @media (min-width: $md-breakpoint) {
      padding-right: 1rem;
      justify-content: flex-end;
      flex-direction: row;
      margin: 0;
    }
  }

  &__item {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    justify-content: center;

    @media (min-width: $md-breakpoint) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $grey;
    width: 100%;
    padding: 1rem;
    display: block;
  }

  &__mobile-btn {
    margin-top: .45rem;
    padding: 1rem;
    align-self: center;

    @media (min-width: $md-breakpoint) {
      display: none;
    }
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}