.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__logo {
    padding: 1rem;
    display: flex;
    align-items: center;

    &--text {
      margin-left: .32rem;
    }

  }

  &__list {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__mobile-btn {
    margin-top: .25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    align-self: center;

    img {
      align-self: center;
    } 
  }
}