.process {
  margin-top: 12rem;
  text-align: center;
  padding: 0 4.5rem 0 4.5rem;

  @media (min-width: $md-breakpoint) {
    text-align: left;
  }

  a {
    margin-left: 1rem;
  }

  &__line {
    display: none;

    @media (min-width: $md-breakpoint) {
      margin-left: 1.5rem;
      display: block;
      height: 2px;
      border-top: 2px solid $pale-orange;
      max-width: 70%;
      position: relative;
    }

    &-dot {
      position: absolute;
      top: 0;
      left: -0.8rem;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 1px solid $dark-cyan;
      background-color: $light-cream;
      margin-top: -0.95rem;

      &--dark {
        position: absolute;
        top: 0;
        left: -0.8rem;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid $dark-cyan;
        background-color: transparent;
        margin-top: -0.95rem;
      }
    }

    #circle2 {
      left: 48%;
    }

    #circle3 {
      left: 97.5%;
    }
  }

  &__heading {
    color: $grey;

    @media (min-width: $md-breakpoint) {
      margin-left: 1rem;
      margin-bottom: 4rem;
    }
  }

  &__cards {
    margin-top: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (min-width: $md-breakpoint) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    padding: 1rem;

    &-number {
      color: $pale-orange;
      font-size: 4.5rem;
    }

    &-heading {
      color: $dark-grey-blue;
    }
  }
}
