.products {
  margin-top: 12rem;
  text-align: center;

  &__grid {
    @media (min-width: $md-breakpoint) {
      display: grid;
      gap: 3rem;
      padding: 3rem;
    }

    @media (min-width: $lg-breakpoint) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
    }
  }

  &__heading {
    background: linear-gradient(#c5c5c5, rgb(254, 252, 247) 110%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: $md-breakpoint) {
      margin-bottom: -4rem;
    }
  }

  &__product-name {
    color: $dark-grey-blue;
  }

  &__product-description {
    color: $dark-grey-blue;
  }

  &__product {
    margin-bottom: 3rem;

    @media (min-width: $md-breakpoint) {
      margin: 0;
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $lg-breakpoint) {
      display: grid;
      grid-template-columns: 1fr;
    }

    &-img {
      max-height: 15rem;
      margin: 0 auto;
    }

    &-details {
      text-align: center;

      @media (min-width: $md-breakpoint) {
        text-align: left;
      }

      @media (min-width: $lg-breakpoint) {
        text-align: center;
      }
    }
  }
}
