.quality {
  margin-top: 17.5rem;
  color: $light-cream;
  background-color: $dark-grey-blue;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;

  img {
    border-radius: 1rem;
    margin-top: -10rem;
    margin-bottom: 4rem;
  }
}