img {
  max-width: 100%;
}

header {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 3rem;
}

button {
  cursor: pointer;
}

section {
  @media (min-width: $md-breakpoint) {
    padding: 0 1.75rem;
  }

  @media (min-width: $lg-breakpoint) {
    padding: 0 3.75rem;
  }
}

.plan__grid {
  margin-top: 6rem;
  @media (min-width: $xl-breakpoint) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

path:hover {
  fill: $pale-orange;
}
