$dark-cyan: #0E8784;
$cyan: #66D2CF;
$dark-grey-blue: #333D4B;
$pale-orange: #FDD6BA;
$light-cream: #FEFCF7;
$dark-cream: #F4F1EB;
$grey: #83888F;

$sm-breakpoint: 36rem;
$md-breakpoint: 48rem;
$lg-breakpoint: 62rem;
$xl-breakpoint: 75rem;
$xxl-breakpoint: 90rem;