body {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
}

h1, h2, h3, h4, .alt-title {
  font-family: 'Fraunces', serif;
}

.alt-title {
  font-size: 9.375rem;
  line-height: 4.5rem;
  text-transform: lowercase;
}

h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

nav {
  font-family: 'Barlow', sans-serif;
  font-size: .75rem;
  line-height: .938rem;
  letter-spacing: 1px;
}

@media (min-width: 0) {
  .nav__link {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

@media (min-width: $md-breakpoint) {
  .nav__link {
    font-family: 'Barlow', sans-serif;
    font-size: .75rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.process__card-number {
  font-family: 'Fraunces', serif;
}

.btn {
  font-family: 'Fraunces', serif;
}