body {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
}

h1, h2, h3, h4, .alt-title {
  font-family: 'Fraunces', serif;
}

.alt-title {
  font-size: 3.375rem;
  line-height: 4.5rem;
  text-transform: lowercase;

  @media (min-width: $sm-breakpoint) {
    font-size: 4.375rem;
  }

  @media (min-width: $lg-breakpoint) {
    font-size: 6.375rem;
  }

  @media (min-width: $xxl-breakpoint) {
    height: 6rem;
    font-size: 9.375rem;
  }
}

h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;

  @media (min-width: $lg-breakpoint) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

nav {
  font-family: 'Barlow', sans-serif;
  font-size: .75rem;
  line-height: .938rem;
  letter-spacing: 1px;
}

@media (min-width: 0) {
  .nav__link {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

@media (min-width: $md-breakpoint) {
  .nav__link {
    font-family: 'Barlow', sans-serif;
    font-size: .75rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.nav__link:hover {
  color: $dark-grey-blue;
}

.footer__link:hover {
  color: $light-cream;
}

.process__card-number {
  font-family: 'Fraunces', serif;
}

.btn {
  font-family: 'Fraunces', serif;
}

.large-text {
  margin-top: 1.5rem;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: $dark-grey-blue;
  align-self: center;
  margin-right: 1rem;
}

.plan__links,
.plan__number {
  font-family: 'Fraunces', serif;
}