.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.open {
  display: block;
}

.close {
  display: none;
}

.question {
  color: $grey;
}

.light-text {
  color: $light-cream !important;
}

.dark-bg {
  background-color: $dark-grey-blue;
  color: $light-cream;
  padding: 1rem;
  border-radius: 1rem;

  p {
    opacity: .8;
  }
}

.dark-line {
  margin-top: 4rem;
}