@import './01-base/reset';
@import './01-base/config';
@import './01-base/base';
@import './01-base/typography';
@import './01-base/utilities';
@import './02-layout/navigation';
@import './02-layout/banner';
@import './02-layout/products';
@import './02-layout/whyChooseUs';
@import './02-layout/process';
@import './02-layout/footer';
@import './02-layout/commitment';
@import './02-layout/quality';
@import './02-layout/locations';
@import './02-layout/summary';
@import './03-components/buttons';
@import './03-components/options';
@import './03-components/planLinks';
@import './03-components/modal';

body {
  background-color: $light-cream;
}
